/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;

}

#headerWrapper {
  color: $secondaryColor;
  justify-content: space-between;
}
header {
  display: grid;
  align-items: flex-end;

  color: black;
  h1 {
    color:#beb6bd;
    display: flex;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
}
#navWrapper {
  background-color: none;
}
nav {
  ul {
    background-color: grey;
    list-style-type: none;
    display: block;
    
    li {
      margin: 0;
      padding: 0;
      flex: 1;
    }
  }
  li.active {
    background-color: #beb6bd;
  }
  a {
    display: block;
    padding: 0.75rem;
    color: black;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: #beb6bd;
      margin: 0;
      padding: 0;
    }
  }
}
section {
  display: grid;
  grid-template-columns: 1fr;
}
section div {
  width: 100%;
  padding: 1rem $gutter;
  img {width: 100%;
  box-shadow: 10px 10px;
  height: auto;
  border: solid grey;
  border-radius: .5rem;
  }
}
#mainWrapper {
  display: flex;
  background-color: none;
}
h2 {
  color: #beb6bd;
  display: grid;
  text-align: center;
  border: #beb6bd;
  border-radius: 2px;
}
#footerWrapper {
  text-align: center;
  clear: both;
  background-color: #beb6bd;
}

