/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;

}

#headerWrapper {
  color: $secondaryColor;
}
header {
  gap: 8px;
  display: grid;
  grid-template-columns: 50px auto 175px;
  color: black;
  span {
    margin: 0;
    color:#beb6bd;
    font-size: 2rem;
    font-weight: $boldWeight;
  }
} // end of header
#navWrapper {
  background-color: #beb6bd;
}
nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      flex: 1;
    }
  }
  li.active {
    background-color: grey;
  }
  a {
    padding: 0.75rem;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    &:hover {
      color: grey;
    }
  }
} // end of nav


section {
  display: grid;
  grid-template-columns: 1fr;
}
section div {
  width: 100%;
  padding: 1rem $gutter;
  img {width: 100%;
  box-shadow: 10px 10px;
  height: auto;
  border: solid grey;
  border-radius: .5rem;
  }
}
#mainWrapper {
  background-color: none;
}
h2 {
  color: #beb6bd;
  display: grid;
  text-align: center;
  border: #beb6bd;
  border-radius: 2px;
}
#footerWrapper {
  text-align: center;
  clear: both;
  background-color: #beb6bd;
}
h3 {
  text-decoration: none;
  float: right;

}
h4 {
  margin: 20px;
  color: gray;
  font-weight: bold;
  font-size: x-large;
}
